.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem 3rem;
  border-bottom: 1px solid var(--clr-primary-black);
  background: radial-gradient(
    circle,
    var(--clr-secondary-dark-green) 60%,
    var(--clr-secondary-light-green)
  );
  color: var(--clr-primary-white);
  text-decoration: none;
}

.footer-wrapper ul {
  list-style: none;
  text-decoration: none;
}
