:root {
  --clr-primary-black: #1f0027;
  --clr-primary-white: #ebf9ec;
  --clr-primary-green: #2f7354;
  --clr-secondary-dark-green: #18462d;
  --clr-secondary-light-green: #4c8163;
  --clr-accent-blue: #6dbcdb;
}
